[2016-07-15 16:21] kbsingh opened #6 "run the index validation script via ci.centos.org on github integration for each PR"
We should be running the validation script, since we have it already, for each PR - would make life a lot easier.

@bstinsonmhk is this something you can help with ?

[2016-07-18 06:54] mohammedzee1000 commented on #6
Dont forget to merge https://github.com/CentOS/container-pipeline-service/pull/1 before using this as there are feature adds and corrections.

[2016-07-19 09:06] mohammedzee1000 commented on #6
I can work with @bstinsonmhk on getting it in.

[2016-08-31 21:10] bstinsonmhk opened #25 "9 cccp.yml files don't match the job-ids in the Index"
We should get these worked out before we enable pr-level testing in ci.centos.org (#6).
See the output of a run over the master branch of the index here:
https://ci.centos.org/job/cccp-container-index/4/consoleFull

/cc: @mohammedzee1000

[2016-09-09 13:34] dharmit opened #38 "README doesn't talk about app-id parameter in index.d yml files"
Is it just me or there's really no mention of `app-id` parameter we need in yml files under `index.d` directory to decide the namespace we would like to put a container image under? Maybe it got accidentally removed?

ping @mohammedzee1000 @kbsingh

[2016-09-09 13:39] dharmit opened #39 "Need to document the underscore limitation of OpenShift"
With reference to #36, for a specific yml file under `index.d`, we need to document that OpenShift would automatically convert `_` to `-`. This would affect `app-id` and `job-id` fields in yml files. This leads to surprise in the name of resulting container image.

@bamachrn I'm not sure about `app-id` field here. For `job-id`, I know it's problematic.

[2016-09-09 13:53] kbsingh commented on #38
the aim is to move towards deprecating it, with the filename mapping to the app-id as a default. since we had it already, the decision was to retain it in the existing configs so we can focus on the index split, instead of refactor code around it as well at the same time. once we have the index.d formats stable and consumeable, we will start working on enhacing the experience ( and include the rem

[2016-09-09 13:54] kbsingh commented on #39
we should stay away from _ in appid as well if we can. Is there a condition where this becomes critical ?

[2016-09-09 14:00] dharmit commented on #39
If you have a container image which is based on an image getting built in the pipeline, it could result in failures. For eg: I had a container image building from **registry.centos.org/eclipse/centos_jre** and it kept failing since no such image existed. It was automatically named as **registry.centos.org/eclipse/centos-jre**. Also based on the idea of deprecating `app-id` we need to avoid using _

[2016-09-12 05:48] mohammedzee1000 commented on #25
@bstinsonmhk i believe this shouldnt be a problem anymore now that the reworked testindex script no longer worries about matching the job id. Although we should consider how we are going to do this in the future especially for entries related to multiple dockerfiles in the same directory, building different containers.

[2016-09-20 13:50] mohammedzee1000 commented on #6
I believe we have completed achieving this functionality now
@bstinsonmhk @kbsingh maybe we can close this issue.

[2016-09-20 16:45] #6 closed

[2016-09-23 07:01] navidshaikh opened #47 "Build not triggered automatically after PR merge"
There was an issue in input details for image build request raised via PR https://github.com/CentOS/container-index/pull/46 .

After the PR was merged the build did not trigger automatically. It had to be triggered manually via Jenkins.

[2016-09-23 07:02] navidshaikh commented on #47
ping @bamachrn : If we can have logs of above mentioned build?

[2016-09-28 10:07] mohammedzee1000 commented on #38
For now i have updated the readme to reflect the current need for app-id. So think this issue can be closed.

ping : @kbsingh @dharmit what do you think?

[2016-09-28 10:11] dharmit commented on #38
@mohammedzee1000 sure, fine by me.

[2016-10-07 20:29] kbsingh opened #57 "job-id cant contain an underscore _"
we have a couple of jobs where the job_id was accpeted with an _ ref: https://github.com/CentOS/container-index/blob/master/index.d/dharmit.yml

[2016-10-12 15:11] mohammedzee1000 opened #64 "CentOS base image name for other containers building on centos7"
Many containers building on centos refer to it in the docker files as FROM centos or FROM centos:7 or FROM centos:centos7. All these names are typically based on docker.io/centos:tag, which basically pulls image as docker.io/library/centos:tag, library being the default namespace in docker registry/distribution for all images without a namespace.

Currently, we are building the centos container un

[2016-10-12 15:13] mohammedzee1000 commented on #64
@bamachrn @kbsingh what do you guys think.

[2016-10-12 17:18] kbsingh commented on #64
we need the default actions per namespace piece down the road - how we implement this would need to be planned and mapped out, and we'd need to speak through witht he registry folks as well. I think we should explore the story a bit further for now,

[2016-10-14 06:55] mohammedzee1000 commented on #64
@kbsingh sure. One thing i do know from experience though is if we tag a container with myregurl/container_name, and do a docker push on it, then it automatically lands up in myregurl/library/container_name. and can hence be pulled as myregurl/container_name

[2016-10-14 10:18] mohammedzee1000 opened #66 "Supporting origin containers, for versions than the those supported by upstream."
This has already been brought up as to how we are going to continue to provide containers for version 1.2. after the release of 1.3.0. Eventually, we are looking to provide these through one of our forks, preferably @tdawson s. For now @bamachrn has worked out containers for 1.2.1 tags, and PR is in to provide 1.3.0 containers (https://github.com/CentOS/container-index/pull/65).

Some of the conte

[2016-11-02 09:12] #66 closed

[2016-11-02 09:29] mohammedzee1000 opened #71 "Supporting builds for containers no longer supported by upstream"
Considering how we have continuously encountered possibility of containers no longer being supported by upstream, but having the requirement that they be available on registry.centos.org for sake of existing systems not breaking, we need to figure out strategies on how we are going to handle this.

First, considering builds, there must be a way to stop containers from being rebuilt, as is the case

[2016-11-02 14:32] mohammedzee1000 commented on #71
@kbsingh @bamachrn @dharmit @navidshaikh @rtnpro thoughts?

[2016-11-04 12:17] kbsingh commented on #71
i dont understand the problem.

once we build something, its there - its done. If upstream does not update anything, that just means the tag's and the builds are not impacted in the already built containers.

what am i missing ?

[2016-11-07 06:31] mohammedzee1000 commented on #71
Yes and in most cases, they should not affect builds.

But for cases like origin and possibly more, instead of stopping builds by hacking into prod, we should be able to disable builds from the index. Also, there might be other reasons why a build might need to be disabled temporarily. Of course, we will be questioning them why they need the build to be disabled before allowing the same to happen.

[2016-11-15 08:00] mohammedzee1000 opened #77 "Run ci periodically to detect changes after index entries have been merged."
I have noticed that a number of times, entries get invalidated, after the ci has passed and pr has been merged. Sometimes, a repo might get moved or a branch might get deleted or some scripts might get deleted or removed without updating index according.

Hence i propose a periodic running of the ci script so that such invalidations can be caught. Also, i would recommend running the ci script as p

[2016-11-15 09:23] bamachrn commented on #77
I agree with the idea. In this case we need to plan for the next action also what we want to do with the invalid entries.

[2016-11-15 13:49] mohammedzee1000 commented on #77
https://github.com/CentOS/container-pipeline-service/pull/100 should allow us to run the testindex in cccp_reader as it now returns a list of failed entries (along with filenames) along with the pass or fail flag.

[2016-11-22 06:53] surajssd opened #78 "rabbitmq image not on container index"
centos dockerfiles repo has [rabbitmq artifacts](https://github.com/CentOS/CentOS-Dockerfiles/tree/master/rabbitmq/centos7) but image not on index.

[2016-11-22 08:58] mohammedzee1000 commented on #78
@surajssd thanks for the information, i will look into this right away

[2016-11-22 09:09] mohammedzee1000 commented on #78
PR raised for appropriate cccp.yml https://github.com/CentOS/CentOS-Dockerfiles/pull/107

[2016-11-22 09:24] surajssd commented on #78
@mohammedzee1000 thanks for quick action

[2016-12-02 05:43] surajssd commented on #78
since https://github.com/CentOS/container-index/pull/80 is merged I will close this!

[2016-12-02 05:43] #78 closed

[2016-12-07 11:13] mohammedzee1000 commented on #77
We should probably add another ci job, that runs the index ci periodically, and sends out email to the team in case of failure in the index.

[2016-12-19 13:10] navidshaikh commented on #77
Lets scope the issue (and its resolution) till detection of the invalid entries (just print them via a data structure in CI stdout). WDYT about CI job running once per week?

Actions per invalid entry can be scoped and discussed in a separate issue.

[2017-01-10 14:50] containscafeine opened #92 "[UX?] Why the names job-id and app-id?"
Hey guys,

Any idea why were the fields named `job-id` and `app-id`? Why not something like `container_repo` and `container_name`?

I didn't find it to be very intuitive, was just curious on why is it this way?

[2017-01-10 15:15] kbsingh commented on #92
an app can have multiple jobs' and jobs can setup their own relationships. the build targets are not limited per se to a specific container or a repo.

[2017-01-10 15:15] #92 closed

[2017-01-10 19:27] containscafeine commented on #92
@kbsingh the documentation (README) indicates none of this behavior about relationships and multiple jobs, and as an end user this mapping does not feel natural at all.

Also, this terminology is not used anywhere else in the container ecosystem, and container index caters to that audience.

app-id - container repo
job-id - container name

these mappings seem super foreign to me, and each time I n

[2017-01-11 06:47] mohammedzee1000 commented on #25
This issue should be closed at it was solved long time ago.
@bamachrn ^

[2017-02-21 13:16] containscafeine opened #113 "Support multiple entries for `notify-email` field"
$subject would be great feature to have

[2017-02-21 15:36] containscafeine opened #115 "Send git commit id in build success emails"
$subject would really help for indexing purposes, since there are times when builds are auto trigerred, or when multiple commits are pushed, when I would like to know that the email is for which commit id in my tracked repository

[2017-03-14 09:34] syamgk opened #122 "support for separate build container"
compiling the code in a build container and copy the binary to another container(production/final container)
 (why? : because we dont require the compile time dependencies on the production container)

[2017-06-08 11:12] dharmit commented on #115
@containscafeine Thanks for bringing this up! Apologies for replying so late. I can see that having a commit ID would be handy when reading success/failure emails for the builds.

@bamachrn I think this is more suitable to be worked upon as a part of Pipeline Service.

Since the Jenkins instance we use on ci.centos.org has Git plugin installed, this should be a matter of accessing the `GIT_COMMIT`

[2017-07-13 00:01] kbsingh commented on #25
@bamachrn @mohammedzee1000 is this still an issue ?

[2017-07-13 00:01] #25 closed

[2017-09-18 13:35] TomasTomecek opened #197 "build script support"
We would like to start building [our images](https://github.com/container-images) in your infrastructure. The issue is that it seems like it won't work because our github repositories contain source templates ([en example](https://github.com/TomasTomecek/tools/blob/5c571acc92a7e68be743809390c8caa450c96d86/Dockerfile.template)) and before building container images, we need to render them first. For

[2017-09-18 13:49] bamachrn commented on #197
Hi @TomasTomecek ,
   current `build script` we are talking about here was meant for running `post-build` hooks developers want to run for checking things on recently built image.
 In your use case we need to render the templates before the build starts. that would not be much difficult. but let us get back to you on this. I have two points need from your side for this.
1. list of dependencies nee

[2017-09-18 14:35] TomasTomecek commented on #197
We just need distgen and all of its dependencies (can be installed via PyPI):
[code]
It runs just fine in a container. Actually that's what we do in Docker Hub: we have [a custom build script](https://github.com/TomasTomecek/tools/blob/27ce1f4e14fe109dc8d1c72a6b93e1900e449b3f/hooks/pre_build) in there which renders the templates using 2 distinct containers. If we could run that script prior to bui

[2017-09-20 13:37] mkocka opened #200 "Build-script needed for the userscpace containerisation"
Hi all,
[1] https://github.com/container-images/container-image-template
[2] https://github.com/devexp-db/distgen/

As you can find in [1] we are using a tool called distgen [2] for building correct Dockerfiles for each one of Fedora, CentOS or RHEL distributions. We would like to use CentOS CI pipeline for testing these images, but we need to be able to execute the distgen code in the beginning o

[2017-09-20 14:00] mohammedzee1000 commented on #200
Duplicate issue https://github.com/CentOS/container-index/issues/197

[2017-10-24 08:42] tmds opened #217 "dotnet-* FAILED: Container build due to linter errors"
We are getting "FAILED: Container build" emails for dotnet-dotnet-20-centos7-latest, dotnet-dotnet-20-jenkins-slave-centos7-latest.

The logs are reporting linter errors.

_dotnet-dotnet-20-centos7-latest_
[code]

=> dotnet-dotnet-20-centos7-latest does indeed not have an EXPOSE, it's base image dotnet-dotnet-20-runtime-centos7-latest has the EXPOSE.

_dotnet-dotnet-20-jenkins-slave-centos7-latest

[2017-10-24 08:58] jerboaa commented on #217
Not sure this is the actual reason why the job failed. I'm also seeing these:

    [2017-10-23 22:03:34,756] dockerfile-linter p5826 32 ERROR - OpenShift is not able to delete project: dotnet-dotnet-20-jenkins-slave-centos7-latest
    [2017-10-23 22:03:34,763] dockerfile-linter p5826 82 WARNING - Dockerfile Lint check command failed
    [2017-10-23 22:03:34,770] dockerfile-linter p5826 139 WARNING

[2017-10-24 09:01] mohammedzee1000 commented on #217
@jerboaa @tmds thanks. We will look into the same and get back asap

[2017-10-24 09:03] jerboaa commented on #217
@mohammedzee1000 Thanks!

[2017-10-24 09:08] tmds commented on #217
Probably related to this, there is no dotnet-20-jenkins-slave-centos7 at [registry.centos.org](https://registry.centos.org/repositories/40)

[2017-10-24 09:14] jerboaa commented on #217
@tmds I've seen the same error for `dotnet/dotnet-20-centos7` for which there is one at registry.centos.org:

    [2017-10-20 16:13:56,586] dockerfile-linter p5826 32 ERROR - OpenShift is not able to delete project: dotnet-dotnet-20-centos7-latest
    [2017-10-20 16:13:56,594] dockerfile-linter p5826 82 WARNING - Dockerfile Lint check command failed
    [2017-10-20 16:13:56,599] dockerfile-linter

[2017-10-24 09:30] mohammedzee1000 commented on #217
@jerboaa @tmds That is one of reasons why we take appid, job d and desiredtag seperately. Basically, for each container, a project gets created on jenkins, and the project name follows the pattern appid-jobid-desiredtag. This is done as the normal container name format is not allowed as a jenkins project name,

[2017-10-24 09:33] bamachrn commented on #217
@jerboaa @tmds there was a bug in the code and it was failing to delte the openshift projects as expected. we have fixed it and deployed. that should not come in again.
For the dockkerfile-linter errors we are matching the best practices of dockerfile writing. let us look into that to avoid false alarms.

[2017-10-24 09:39] tmds commented on #217
:+1:

The jenkins maven slave would generate the same errors as ours (https://github.com/openshift/jenkins/blob/master/slave-maven/Dockerfile).
Are these errors filtered by the pipeline build? Or do the maintainers also get emails?

Can you trigger a build for dotnet-20-jenkins-slave-centos7 (so it becomes available at registry.centos.org)?

[2017-10-24 13:13] bamachrn commented on #217
@tmds there was an issue in the notification service, we are working to fix that, dotnet-20-jenkins-slave-centos7  is avaialbe in registry.centos.org now

[2017-10-24 13:28] tmds commented on #217
Thank you @bamachrn!

[2017-10-24 13:28] #217 closed

[2017-10-27 21:20] hhorak opened #220 "Docker build path cannot be different than Dockerfile directory"
Hi, we have a bit different structure of the repository at https://github.com/sclorg/mariadb-container/, where we have basically:
 * Dockerfiles in the subdirectories
 * some other files in root directory

So, when building an image, we need to run something like:
[code]

That also means that more packages share the root directory, so `cccp.yml` cannot be in the root directory, because we cannot h

[2017-10-28 17:53] mohammedzee1000 commented on #220
@hhorak thanks for reporting this. We will look into this in the coming week, and figure out a solution.

[2017-11-09 17:54] mohammedzee1000 commented on #220
@hhorak https://github.com/CentOS/container-pipeline-service/pull/365 I have opened a PR to fix this, once this is done, you will want to move the cccp.yml back alongside the dockerfiles, change git-path back to path of dockerfile, and instead use key `build-context` to specify the build context

[2018-01-05 15:29] cdrage opened #249 "Use .yaml instead of .yml"
`.yml` is used for historic reasons due to windows (only allowing three-character extensions)

`.yaml` should be the standard file extension across all files.

See the official yaml site for official ruling: http://www.yaml.org/faq.html

[2018-01-05 17:15] mohammedzee1000 commented on #249
@cdrage thanks for bringing this up. The pipeline itself is programmed to check files with extensions y*ml so it should be an easyfix.

[2018-01-16 18:46] kbsingh commented on #249
+1 we can use .yaml but cant break existing content

[2018-01-17 04:08] mmclanerh opened #259 "Update sentry image to latest release (>= 8.22)"
Greetings!  It looks like Sentry has been rev'd.  Can we get the latest (8.22 is stable, 8.23 is unreleased as of Jan-16-2018) Sentry container updated? Looks like this is set to build up to version 8.18 here:

https://github.com/CentOS/container-index/blob/36004321e63f0add8d21a41b9dedb0bc91ac5a16/index.d/centos.yml#L500-L522

Thanks!

[2018-01-17 04:34] mohammedzee1000 commented on #259
Thanks for the input. We will look at it. You are welcome to help as well.

[2018-01-17 04:39] mmclanerh commented on #259
Sounds good!  I think we may need to move the "official" [1] build source repo, as well?  As I understand, @rtnpro has moved on?   I suspect bumping the version here and rebuilding may be all that is required.. but then, everything that seems easy has a funny way of becoming not.. heh.   If I find some cycles, I can likely build on what was done previously at least into my own fork.

Thank you!

[

[2018-01-17 11:17] mohammedzee1000 commented on #259
@mmclanerh i am pushing these containers to CentOS Dockerfiles. Should become easier to maintain it there.

[2018-01-17 11:34] mohammedzee1000 commented on #259
https://github.com/CentOS/CentOS-Dockerfiles/pull/164

[2018-01-18 16:42] cdrage opened #262 "Remove all references to Nulecule / Atomic App"
Nulecule + Atomic App are dead / unmaintained projects (https://github.com/projectatomic/nulecule and https://github.com/projectatomic/atomicapp).

[2018-01-23 22:18] mmclanerh commented on #259
I have submitted a pull request to get the dockerfiles updated to 8.22:

https://github.com/CentOS/CentOS-Dockerfiles/pull/165

[2018-01-24 16:38] mmclanerh commented on #259
this was able to build for me locally
[code]

[2018-01-24 17:21] kbsingh commented on #262
Its interesting how much of the world is now gyrating towards solving the same problems that these things did, a few years ago. However, for now it does look as if we should drop references. We dont support them in the pipelines either.

[2018-01-25 10:55] mohammedzee1000 commented on #259
I believe this is sorted now. If you dont think that is the case, reopen. Closing now

[2018-01-25 10:55] #259 closed

[2018-01-25 10:57] mohammedzee1000 commented on #262
This issue has been fixed. Closing the same.

[2018-01-25 10:57] #262 closed

[2018-02-02 20:40] cdrage opened #274 "Automated merging of PRs on already-defined namespaces (adding a bot)"
There are some similar projects out there that implement this (such as the Kubernetes and Homebrew community).

Essentially, when creating a pull-request, if the username requesting the pull-request matches the namespace as well as having a valid YAML file, and an image that's based on CentOS, they should be able to merge in a PR without a maintainers approval.

For example:

 1. I request a pull-

[2018-02-19 16:06] tmds opened #291 "Pipeline Service Container build notifications"
Hi, on the `notify-email` for our container images we get daily SUCCESS mails for from the CentOS Community Container Pipeline Service. Would it be possible to send only mails when things are failing?

[2018-02-19 18:54] cdrage commented on #291
Hey @tmds I opened up an issue on this upstream here: https://github.com/CentOS/container-pipeline-service/issues/458

[2018-02-20 12:42] tmds commented on #291
thanks @cdrage !

[2018-03-02 14:08] arrfab opened #303 "Multi Arches support for registry.centos.org"
Actually, only x86_64 containers seem to be hosted on registry.centos.org, but more architectures are already officially supported for the base images (https://hub.docker.com/_/centos/) :
- amd64 (x86_64)
- arm32v7 (armhfp)
- arm64v8 (aarch64)
- i386
- ppc64le

What would be required to at least host the official base images and then be also able to provide other containers for those arches ?

[2018-03-31 02:32] phemmer opened #316 "projectatomic/cri-o needs version tags"
The registry image at [registry.centos.org/projectatomic/cri-o](https://registry.centos.org/projectatomic/cri-o) needs version tags.
Currently the openshift-ansible installer is pulling down `registry.centos.org/projectatomic/cri-o:latest`. With the recent release of cri-o version 1.0.0-rc.0, this is causing breakage as it is not compaible with OpenShift 3.9 / Kubernetes 1.9 <sup>*(ref https://git

[2018-04-03 11:07] bamachrn commented on #316
@phemmer for the random tags, we have fixed it with automated cleanup. you meant we do a `desired-tag` from container-index and another from dockerfile LABEL? why we cant add the desired-tags in container-index for all the different versions.

Because any image in registry.centos.org should have one entry in container-index otherwise they are going to get wiped off automatically.

[2018-04-17 07:20] LalatenduMohanty opened #322 "Change git URL for registry.centos.org/minishift/dnsmasq"
The current git URL for `registry.centos.org/minishift/dnsmasq` is `git-url: https://github.com/gbraad/dockerfile-dnsmasq` and we want to change it to `https://github.com/minishift/dockerfile-dnsmasq-centos`. Is this possible?
cc @gbraad

The initial changes were merged as part of https://github.com/CentOS/container-index/pull/299

[2018-04-17 07:25] bamachrn commented on #322
yes, a PR with updating `https://github.com/CentOS/container-index/blob/master/index.d/minishift.yaml#L5` would do the need full. pipeline will automatically take it once PR is merged. This makes more sense to me, as we are building the image under `minishift` namespace, it is better to have the source repo from the `minishift` project.

[2018-04-17 08:46] gbraad commented on #322
merged now...

[2018-04-17 09:09] #322 closed

[2018-04-18 04:12] gbraad opened #325 "Webhook to trigger dependent CI pipelines"
It would be nice to have a trigger on success, so it can trigger dependent CI pipelines.

[2018-04-19 06:33] bamachrn commented on #325
we do not have something like this right now. But we are working on exposing API for the service. Lets bring this or something like this in roadmap.

[2018-04-19 06:35] #38 closed

[2018-05-07 05:33] gbraad commented on #325
Is there a Trello card or something where I can track this and/or see what this will look like?

[2018-07-17 10:02] aditya-konarde opened #349 "Automatically updated rpm's may cause dependency issues"
Here's the use case:

Lets say I have a container image named `foo` with tag `5.0`

I have versioned the image according to my application. In the Dockerfile, I did a `yum install bar` which fetches the then-latest version for the package `bar` and the image is built.

Now that I have the image: as a user I expect it to be immutable and run the same everywhere, I perform some tests against the ima

[2018-07-31 11:42] farshid3003 opened #353 "Please add dotnet 2.1 as we need it for openshift origin"
Please add dotnet 2.1 as we need it for openshift origin
It is a long time that we are waiting for this image.

[2018-07-31 12:04] mohammedzee1000 commented on #353
@omajid @jerboaa do you guys want to take a look at this as you maintain the dot net containers

[2018-07-31 12:52] omajid commented on #353
cc @aslicerh

Yeah, it's on our radar. I have a patch to get .NET Core 2.1 to build on CentOS. I sent it to CentOS maintainers last week. Once it's built, we definitely plan to get containers for it up and working too.

[2018-08-01 11:53] mohammedzee1000 commented on #353
Thanks guys @aslicerh, i guess this yours now :)

[2018-08-01 14:05] aslicerh commented on #353
@mohammedzee1000 Yup, you can put me down for all of the dotnet containers, if I'm not already.

[2018-08-06 07:05] mohammedzee1000 commented on #353
@aslicerh @farshid3003  The image builds should get done soon

[2018-08-06 07:45] mohammedzee1000 commented on #353
Once someone confirms images work as expected, we can close the issue :)

[2018-08-06 12:08] jerboaa commented on #353
Looks like the build failed. `yum clean all` warning. See:
https://registry.centos.org/pipeline-logs/ZWE2MzgyZmE1Yj/

[2018-08-06 13:27] bamachrn commented on #353
@jerboaa both the build succeeded now, failure was because pipeline triggered `dotnet` image built before `runtime`. there is some issue with the cause of build. we are looking into it. thanks

[2018-08-06 14:33] mohammedzee1000 commented on #353
@bamachrn thanks for updating.
@jerboaa @farshid3003 @aslicerh,
Can we get validation on behaviour of the image to be as expected before we close the issue.

[2018-08-06 14:37] aslicerh commented on #353
@mohammedzee1000
Yeah, I'll test the images now.

And thanks, everyone, for your work on this.

[2018-08-06 14:59] aslicerh commented on #353
@mohammedzee1000 @farshid3003

The images passed all our tests, so things look good from our end here.

[2018-08-06 15:10] farshid3003 commented on #353
I will check it

[2018-08-06 15:29] farshid3003 commented on #353
PS C:\Users\farsid.mirza\Documents\visual studio 2017\Projects\WebApplication4> docker build -t farshid3003/mytestcentosapp:latest . -f ./WebApplication4/Dockerfile
Sending build context to Docker daemon  2.488MB
Step 1/16 : FROM registry.centos.org/dotnet/dotnet-21-centos7 AS base
 ---> bf1519399fc9
Step 2/16 : WORKDIR /app
 ---> Using cache
 ---> a735395e05f6
Step 3/16 : EXPOSE 80
 ---> Using ca

[2018-08-06 15:59] aslicerh commented on #353
@farshid3003
Dotnet is part of an scl, so it has to be enabled. The images have entrypoint and cmd steps to make that happen automatically as long as bash gets to run as normal, but the 'run' step doesn't load everything when executed like that.

You can change the step to be like:
`RUN bash -c "dotnet...`
Or
`RUN scl enable rh-dotnet21 '/bin/sh -c "dotnet...`

There are also s2i scripts built int

[2018-08-07 09:41] mohammedzee1000 commented on #353
So i guess we are good, as we have functional dotnet 2.1 containers. Closing issue, please feel free to reopen if you think its not solved.

[2018-08-07 09:41] #353 closed

[2018-08-27 06:10] aditya-konarde opened #364 "RFE: Merge weekly scanning result emails per-image"
I maintain multiple mattermost images on the container index [here](https://github.com/CentOS/container-index/blob/master/index.d/mattermost.yaml)

With the weekly scan, I recently got multiple emails titled `Weekly scanning results for image: <imagename>`

I think it would be better UX if emails for the results of the same image are combined.

For example:
Image:`mattermost-server` tag:5.0 and Im

[2018-12-07 04:30] bamachrn commented on #57
This is taken care of as we are no longer creating OpenShift project per index entry.

[2018-12-07 04:30] #57 closed

[2018-12-07 04:34] bamachrn commented on #64
This is implemented, we do have [library namespace](https://github.com/CentOS/container-index/blob/master/index.d/library.yaml) now. Images in this file get pushed without app-id. So the base images are accessed like `registry.centos.org/centos:latest`

[2018-12-07 04:34] #64 closed

[2018-12-07 04:36] bamachrn commented on #71
This is default case, any image pushed to registry.centos.org is never removed. We will not update the images if it is removed from index-entry

[2018-12-07 04:36] #71 closed

[2018-12-07 04:37] bamachrn commented on #77
We need a sanity checking CI job for this.

[2018-12-07 04:40] bamachrn commented on #115
We are sending git commit ID and branch as cause of build, when the image is built due to change in the source repo. Closing this.

[2018-12-07 04:40] #115 closed

[2018-12-07 04:45] bamachrn commented on #197
Pre-build script feature does this. Cloned source repo can pre-processed using pre-build step provided by user. Entries for this has been added to container-index. Closing this issue will follow up on email thread about more image entries.

[2018-12-07 04:45] #197 closed

[2018-12-07 04:46] bamachrn commented on #316
This is fixed we are no longer pushing extra tags to registry.centos.org.

[2018-12-07 04:46] #316 closed

[2018-12-07 04:49] bamachrn commented on #249
This is updated and incorporated in the index-reader.

[2018-12-07 04:49] #249 closed

[2018-12-07 04:51] #200 closed

[2018-12-07 04:52] bamachrn commented on #200
Pre-build support is implemented for this.

[2018-12-07 04:52] bamachrn commented on #220
This is fixed, we have a custom-build context support now.

[2018-12-07 04:52] #220 closed

[2019-02-11 13:01] TheMidgardWatcher opened #392 "Dotnet 2.2 images"
Hi there,

It's have been passed some time from dotnet version 2.2 release, but we still have no Centos7 dotnet2.2  images to use them in our Openshift projects.

Is there any hope to expect dotnet2.2 images in regitry.centos.org soon?

[2019-02-11 13:33] mohammedzee1000 commented on #392
@aslicerh PTAL

[2019-02-11 13:36] mohammedzee1000 commented on #392
Index entries exist at
https://github.com/CentOS/container-index/blob/master/index.d/dotnet.yaml#L28-L52

Yet image not in registry @bamachrn ^

[2019-02-12 04:31] bamachrn commented on #392
Looking into the same, seems there was no source change to the dotnet-22-runtime-centos7 so it was never triggered after
[code]
and dotnet-22-centos7 is failing due to the runtime image is not present in the registry.
triggered a manual build for runtime and it fails with
[code]

@TheMidgardWatcher could you please look into this. we are working to get logs visible to UI by this week. so you can a

[2019-02-12 11:41] TheMidgardWatcher commented on #392
@bamachrn Sorry, I don't really expert in images building, but I've asked for help in Source-to-Image repo. Hope somebody could help...

[2019-02-12 11:48] TheMidgardWatcher commented on #392
@bamachrn By the way, where did you trigger this build? Maybe if I'll see whole process I'll find somebody to ask from my colleagues, who knows OpenShift better than me

[2019-02-12 12:00] bamachrn commented on #392
@TheMidgardWatcher Builds runs on the Container-pipeline-service which is backend for https://registry.centos.org. It seems the issue is `No package rh-dotnet22-dotnet-runtime-2.2 available.`
there is no package available in the repo.

[2019-02-12 12:06] TheMidgardWatcher commented on #392
@aslicerh Could you please give more details on this?

[2019-02-13 15:00] aslicerh commented on #392
@TheMidgardWatcher @bamachrn
This was talked about a couple of weeks ago. We put in the changes to have the 2.2 containers built without realizing that no one has produced the actual RPMs yet. From what I understand, the source code for building the RPMs is available and ready (and has been for quite a while now), it's just that no one has gotten around to actually producing packages yet.

I asked

[2019-02-14 12:28] TheMidgardWatcher commented on #392
@aslicerh So, as i understood - there is some maintainers of this packages but they don't want to build and push version 2.2 or am i missing something?

[2019-02-20 09:09] TheMidgardWatcher commented on #392
@aslicerh What could we do to have this packages built?

[2019-02-20 15:36] aslicerh commented on #392
@TheMidgardWatcher @bamachrn
Hopefully everything will be ready soon. We finally got in touch with the right people to get this produced. Sorry it took this long!

[2019-02-21 09:33] bamachrn commented on #392
@aslicerh @TheMidgardWatcher images are built successfully and available to pull, would be available after sometime in https://registry.centos.org UI. please have a look at the images.

[2019-02-21 17:50] TheMidgardWatcher commented on #392
@bamachrn all is working now! Thanks guys for such a great help!

[2019-02-22 04:35] bamachrn commented on #392
ACK, closing this

[2019-02-22 04:35] #392 closed

[2019-09-30 18:55] #274 closed

[2019-12-11 11:09] TheMidgardWatcher opened #404 "Dotnet 3.1 Images"
Hello guys,

Some time ago we have issue that dotnet 2.2 images weren't built in this issue: https://github.com/CentOS/container-index/issues/392

And I'm coming to you again, but at this time dotnet 3.1 images is really needed.
I've already talked to [redhat-developers](https://github.com/redhat-developer/s2i-dotnetcore/issues/307) (as we using centos7 based s2i images in OpenShift) and they are

[2019-12-11 12:36] bamachrn commented on #404
Hi @TheMidgardWatcher the main issue is the package is not available for building the image, building failed last time. its the same case for as well 3.0 images, the packages are not there in repo.

it is still failing the build with
[code]
the package is still not available.
could you please check who builds these rpm and make sure it is available in the repo?

[2019-12-11 12:42] bamachrn commented on #404
I am trying the 3.1 run time build manually (it is not in index) it is also having the same issue
[code]

we do not maintain the centos repos and RPM builds. could you please check on this?
images will fail to build unless the package is available in the repo, we would be happy to solve it ASAP.  but it is not something from container-index we can push for.

[2019-12-11 12:59] TheMidgardWatcher commented on #404
Thank you @bamachrn for your response, but maybe you know who is responsible for this rpms - and I could reach them?

[2019-12-11 13:32] bamachrn commented on #404
there is no mention in https://cbs.centos.org/koji/packages?start=3800&order=package_name&inherited=1 for dotnet as well. how was it built last time?

[2019-12-11 14:04] TheMidgardWatcher commented on #404
@bamachrn I assume we could ask for help from @aslicerh to get in touch with rpms maintainers, as we did it previously for dotnet 2.2
https://github.com/CentOS/container-index/issues/392#issuecomment-465628625

[2019-12-12 13:34] RheaAyase commented on #404
To be clear, CentOS RPMs are rebuilds of RHEL RPMs and everything is automated. Nobody is responsible for them in the same way as you would have maintainers in Fedora. If there is an issue, it's with the automation. And on that note, I have no clue what delay is to be expected between RHEL release and packages making it into CentOS... It's been one week so far.

[2019-12-12 13:51] TheMidgardWatcher commented on #404
Yes, but previously we've managed to find someone who helped to solve same situation with dotnet2.2 rpms.

[2019-12-12 14:14] RheaAyase commented on #404
The only person I know who knows the right people, is on holiday. It's December.

[2019-12-12 14:23] RheaAyase commented on #404
Also FYI related Bugzilla to the missing aspnet30 package:
https://bugzilla.redhat.com/show_bug.cgi?id=1777383

[2019-12-12 14:35] tmds commented on #404
@hughesjr maintains CentOS .NET Core packages.

[2019-12-12 14:41] TheMidgardWatcher commented on #404
That's cool! Could we reach him to kindly ask to produce .NET Core 3.0/3.1 packages?

[2019-12-12 14:55] aslicerh commented on #404
I'm working on it now.

[2019-12-12 15:22] aslicerh commented on #404
And the request for 3.0 and 3.1 centos RPMs has been prodded into the pipeline. It's a busy time for them, but rough estimate is a week or so.

Once the RPMs are built the containers should automatically get built as well within a day or so.

[2019-12-12 15:31] TheMidgardWatcher commented on #404
Thank you @aslicerh so much!

[2019-12-12 15:34] aslicerh commented on #404
No worries. And once the holidays are over and our team is more cohesive I'm going to get us discussing how we might smooth this whole process over a bit moving forward too.

@TheMidgardWatcher Thanks for being so proactive with us and engaging!

[2019-12-12 21:07] kanadaj commented on #404
@bamachrn It used to be built using a curl download and that still works:
[code]

[2019-12-12 21:12] aslicerh commented on #404
@kanadaj The problem with that is that it is grabbing the Microsoft Binary Blobs directly, which do not necessarily build in an open source fashion and may contain closed source prebuilt binaries. There are other differences as well, such as the Microsoft binaries having telemetry enabled by default, while the RH/Fedora/Centos RPMs disable telemetry and call home functions by default.

Not that yo

[2019-12-12 21:13] kanadaj commented on #404
Oh I see. Yeah I can see how that's a problem in this case. I personally don't mind it but I understand the issue in the big picture.

[2019-12-12 21:19] aslicerh commented on #404
@kanadaj Also, if you're not familiar, the RH/Centos/Fedora containers are all built from the same repo, and we already have 3.0 and 3.1 centos Dockerfiles. Have for a little while now, usually around when the versions get publicly released.

If you'd like, instead of putting the 3.x blobs on top of the 2.2 containers, you can modify the Dockerfiles there and build the containers from scratch. Som

[2019-12-12 21:27] kanadaj commented on #404
@aslicerh Yeah I saw that, but I assumed that since the files are there but they are not in the registry there may be some build errors so I haven't tried building it from there.

[2019-12-12 21:28] aslicerh commented on #404
@kanadaj Yeah. the Centos RPMs aren't there yet, so the yum part fails. You could remove the dotnet packages from there, then add your binary blob curl lines from above and I believe it should build.

[2019-12-17 10:07] TheMidgardWatcher commented on #404
Hi guys,

@aslicerh is there any news about dotnet 3.1 rpm's? Looks like i'm critically blocked without them ((

[2019-12-18 13:27] TheMidgardWatcher commented on #404
Hi,
@bamachrn could you please check if rpm's were already built?

[2019-12-18 14:45] aslicerh commented on #404
@TheMidgardWatcher RPMs are still not built yet. If they were, you'd be able to find them in the package repos at:
http://mirror.centos.org/centos/7/dotnet/x86_64/Packages/
or
http://mirror.centos.org/centos/8/AppStream/x86_64/os/Packages/

I'll check in with @hughesjr and see how things are looking.

[2019-12-19 11:29] TheMidgardWatcher commented on #404
Hello guys,

@aslicerh, have you had a chance to take a look where we are with rpm's?

PS. Sorry for pushing you, but it's really very critical ((

[2019-12-19 11:54] RheaAyase commented on #404
Hi, long story short, we can't do anything about it.

* 3.0 - Failed to build due to several bugs in [dotnet/source-build](https://github.com/dotnet/source-build/)

* 3.1 - CentOS engineer(s) were building it last night, no idea what's the result. If I were to take a wild guess, it will be similar to 3.0

@TheMidgardWatcher if you have Red Hat subscription, please open a support ticket.

[2019-12-19 13:32] tmds commented on #404
@RheaAyase did 3.0 fail to build on rhel7? Afaik 3.0 fails to build on an unknown rid (like centos8), but centos7 should be a known rid. The unknown rid issue can be worked around (see https://github.com/dotnet/source-build/issues/1310#issuecomment-543163427 and below).

For 3.1, it's possible the tarball from rhel doesn't work on centos (cfr https://github.com/dotnet/source-build/issues/1412), or

[2019-12-19 13:35] RheaAyase commented on #404
I don't know, it's difficult to get any info :<

[2019-12-19 13:52] aslicerh commented on #404
@TheMidgardWatcher @RheaAyase @tmds
Yes, the only failure we know of was for Centos8, but the nature of the failure means it may not be the case for centos7.

Last I was told yesterday, @hughesjr was already building the centos7 packages for dotnet. I don't see them in the repos this morning, but I also wasn't told of any failures. Yet.

[2019-12-19 14:13] RheaAyase commented on #404
Could we like not do 8's and things at all... they're the lowest priority.

[2019-12-19 14:18] aslicerh commented on #404
@RheaAyase They are separate builds, but it is just that they were already tried. Probably because Centos has a cutoff for the next centos8 delivery that is like, now.

[2019-12-19 14:25] RheaAyase commented on #404
They're still the lowest priority though. Even if that's not gonna make it for a long time.

[2019-12-20 10:53] TheMidgardWatcher commented on #404
Hey guys, is there any news?

[2019-12-20 11:19] tmds commented on #404
Maybe you can get on your way using: quay.io/fedora-dotnet/dotnet:3.1. It is s2i compatible, and built using the latest 3.1 packages available on Fedora, which is still a preview version.

[2019-12-23 11:23] TheMidgardWatcher commented on #404
Hi, @tmds, but I'd better wait further news from guys.
@aslicerh, @hughesjr How is it going guys, could we expect dotnet 3.1 rpms for Centos7 early this week?

[2019-12-23 13:51] TheMidgardWatcher commented on #404
Hey, @bamachrn I've just checked [packages](http://mirror.centos.org/centos/7/dotnet/x86_64/Packages/) and dotnet 3.1 finally there! Is it enough for you to build Centos7 images?

[2019-12-27 11:07] TheMidgardWatcher commented on #404
Hi guys.

I see [dotnet 3.0](https://registry.centos.org/dotnet/dotnet-30-centos7) images in the registry, but 3.1 images are not there yet. What chances do we have to see 3.1 images in 2019?

[2019-12-27 12:58] bamachrn commented on #404
Hi @TheMidgardWatcher sorry for the false positive. The dotnet-30 image is not available in registry yet.
as the build is still failing with `No package rh-dotnet30-aspnetcore-runtime-3.0 available.`
We configured the registry ui to show the build logs thats why the entry is available in the registry UI. we will find a way to fix the entries to make sure it indicates the image is not available in

[2020-01-03 11:11] TheMidgardWatcher commented on #404
Hi, @bamachrn and happy New Year!
What should be done to get those packages? Who can help us?

[2020-01-03 13:26] TheMidgardWatcher commented on #404
@aslicerh could you please help?

[2020-01-03 14:44] TheMidgardWatcher commented on #404
@bamachrn could you please check 3.1 rpm's (they are higher priority than 3.0), seems like they should be in the registry.

[2020-01-03 15:08] omajid commented on #404
.NET Core 3.1 packages for CentOS 7 should have been available since mid-December: http://mirror.centos.org/centos//7/dotnet/x86_64/Packages/

[2020-01-03 15:42] TheMidgardWatcher commented on #404
Thanks @omajid ! So we need just build dotnet 3.1Centos7 based images.

[2020-01-04 15:10] TheMidgardWatcher commented on #404
Hi, @bamachrn could you please assist with building dotnet 3.1 images?

[2020-01-04 16:14] #404 closed

[2020-01-06 13:56] omajid commented on #404
.NET Core 3.1 images should be available now:

- https://registry.centos.org/dotnet/dotnet-31-centos7
- https://registry.centos.org/dotnet/dotnet-31-runtime-centos7

[2020-11-03 15:09] tmds commented on #303
:+1:

I came across this issue after trying to figure out why the centos registry `centos:8` image doesn't work on arm64.

[2020-11-04 18:54] sonnyp opened #410 "UI is down"
https://wiki.centos.org/ContainerPipeline states

But https://registry.centos.org ends up in 404.

[2020-11-06 07:07] bamachrn commented on #410
Hi @sonnyp thanks for raising. we are in middle of migrating the service, UI should be back by this weekend. There is no issue in image pulls from registry.

[2020-11-10 13:24] bamachrn commented on #410
Hi @sonnyp we got the registry UI back. we are still working on few issues with the image build process to get it fully functional

[2020-11-10 14:05] sonnyp commented on #410
many thanks!

[2020-11-10 14:05] #410 closed

[2020-12-10 13:16] mavit opened #413 ""latest" CentOS image version differs between CentOS Container Registry and Docker Hub"
I'm not sure if this is the correct place to report this, but the following was not what I expected:

[code]

Is this a bug?

[2020-12-10 13:37] navidshaikh commented on #413
Thank you for reporting this!

@bamachrn I think we should re-point `latest` tag to the centos8 image?

https://github.com/CentOS/container-index/blob/4f2c2bcafcd86db2e13f7e01478a1b4b1d1e0dda/index.d/centos.yaml#L9

@mavit: as general practice, I think we should avoid using `latest` tags and use explicit tags instead.
Please use `registry.centos.org/centos:8` to get centos8 from registry, and here

[2020-12-11 06:38] bamachrn commented on #413
@mavit we planned for updating centos:latest to centos 8 separately to makesure the dependent images are updated as required.
that's how it was intentional. I have now updated the latest tag to centos 8 and now it would be in sync with base image updates.

[2020-12-11 06:38] #413 closed